<!--Each day is a newspaper-->
<!--Headlines are People/Places (one or 2 people per headline)-->
<!--Stories are list of links to stories about said person/place-->
<!DOCTYPE html>

<html lang="en">
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/slideout/1.0.1/slideout.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
        
        {% load static %}
        <script type="text/javascript" src="{% static "home.js" %}"></script>
        <link rel="stylesheet" href="{% static "home.css" %}">
<!--start work on side bar navigation and stuff-->
    </head>
    <body>

        <!--title-->
        <!--SIGH-->
        <div class="row">
            <div align="left" class="col-sm-2">
                <a href="{{previous_date}}">
                    {{previous_date_string}}
                </a>
            </div>
            
            <div align="center" class="col-sm-8">
                <h1>
                    {{date}}
                </h1>
                <!--img src="{% static "CozzezIcon7" %}" alt="CozzezIcon7"-->
            </div>
            <div align="right" class="col-sm-2">
                <a href="{{next_date}}">
                    {{next_date_string}}
                </a>
            </div>
          
        </div>
        <hr>
      
     <!--div class="row"-->
         
        <!--nav bar-->
        <nav id="menu">
            <div align="right">
                <header >
                    <!--h2>title</h2-->
                </header>
                <!--p>text</p-->
                <a href="/login">login</a>
                <!--div class="card"-->
                    <div class="calendar-wrapper">
                      <button id="btnPrev" type="button">Prev</button>
                      <button id="btnNext" type="button">Next</button>
                      <div id="divCal"></div>
                    </div>
                
                <!--/div-->
            </div>
        </nav>

        <main id="panel">
            <header>
                <!--h2>navigation bar</h2-->
                <!--div class="row"-->
                    <div align="right">
                        <!--a class="time_label">time till new stories: time</a-->
                <button type="button" class="toggle-button">menu</button>
                    </div>
                <!--/div-->
            </header>
            
            
                {% block stories %}
                <div class="col-sm-12" id="main_col">
                {% for a in news_stories%}

                    <div class="row">

                        <div class="col-md-auto">

                            <div class="card">
                                <!--a class="card_button" href="/test"></a-->
                                <h3>{{ a | upper }}</h3>
                                <hr>
                                {% for art in a.get_articles %}
                                <div class="row">
                                    
                                    <div class="col-sm-10">
                                        <a href="{{art.url}}" class="news_list">{{ art.title }}</a>
                                    </div>
                                    <div class="col-sm-2">
                                        <a href="{{art.source_url}}" class="news_list">[{{ art.affiliation }}]</a>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>

                    </div>
                        

                {% endfor %}
                </div>
                {% if image %}
                    <img src="{{ image }}" alt="{{ image }}">
                {% endif %}
            
                {% endblock %}
        <!--/div--> 
            
        </main>
        
        <script>
        
        </script>
        
    </body>
</html>
