body {
    height: 100%;
    width: 100%;
    background-color: #FFFFFF;
    margin-left: 0px;
    margin-right: 0px;
    /*padding-left: 20px;*/
    /*padding-right: 20px;*/
}

#banner {
	background-image: linear-gradient(rgba(127,0,255,1) 80%,rgba(255,255,255,0));
	padding-left: 20px;
	padding-right: 20px;
}

#banner_logo {
	width: 60px;
	height: 60px;
}

#banner_text {
	color: rgb(0,200,0);
}

.input_form {
	margin-top: 20px;
	padding-left: 20px;
}

#search_bar {
	width: 100%;
}

